@model BlogCity.Models.Post

@{
    ViewData["Title"] = "Details";
}

<div class="row">

    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <h1 class="mt-4">@Html.DisplayFor(model => model.Title)</h1>
        <p class="lead">
            by
            <a href="#">@Html.DisplayFor(model => model.Author)</a>
            <div style="float:right;padding-top:15px;font-weight:bold;">
                <i class="fa fa-heart icon-heart"></i>
                <span id="lovecount">@Model.LoveCount</span>
            </div>
        </p>
        <hr>
        <p>Posted on @Html.DisplayFor(model => model.PublishedDate)</p>
        <hr>
        <img class="img-fluid rounded" src="@Model.Picture" alt="">
        <hr>
          <p class="lead">@Html.Raw(@Model.Text)</p>
        <br>
          @if(User.Identity.Name != null){
            if(User.Identity.Name == Model.Author){
            <a class="btn btn-info" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
            <form class="form-btn" asp-action="Delete" asp-route-id="@Model.Id">
                  <input type="hidden" asp-for="@Model.Id"/>
                  <input type="submit" value="Delete" class="dropdown-item"/>
            </form>
            }
            }
            <a class="btn btn-default" asp-action="Index">Back to List</a>
        <br><br>
        <center>
            <a href="http://www.facebook.com/sharer.php?u=https://localhost:5001/Post/Details/@Model.Id" target="_blank">
                <img src="https://simplesharebuttons.com/images/somacro/facebook.png" height="50" alt="Facebook" />
            </a>
            <a href="https://plus.google.com/share?url=https://localhost:5001/Post/Details/@Model.Id" target="_blank">
                <img src="https://simplesharebuttons.com/images/somacro/google.png" height="50" alt="Google" />
            </a>
            <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https://localhost:5001/Post/Details/@Model.Id"
                target="_blank">
                <img src="https://simplesharebuttons.com/images/somacro/linkedin.png" height="50" alt="LinkedIn" />
            </a>
        </center>
        <br><br><br>
    </div>
</div>
    @if (User.Identity.IsAuthenticated)
    {
    <button onclick="love(@Model.Id)" class="fab"> <i class="fa fa-heart"></i> </button>
<script>
    function love(id) {
        $.ajax({
            type: "POST",
            url: "/Post/Count/" + id,
            data: {},
            success: function (result) {},
            error: function (req, status, error) {}

        });
        var n = document.getElementById("lovecount").innerHTML;
        n++;
        document.getElementById("lovecount").innerHTML = n;
    }
</script>
    }