@model IEnumerable<BlogCity.Models.Post>

@{
    ViewData["Title"] = "Index";
}

<div class="row justify-content-md-center">

@foreach (var item in Model) {

                <div class="col-md-8">
        <div class="card mb-4">
          @if(item.Picture != null){
            <img class="card-img-top" src="@item.Picture" alt="Card image cap" height="300">
          }
            <div class="card-body">
              <h2 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h2>
              @if(item.Text.Length > 30){
              <p class="card-text">@item.Text.Substring(0, 300) ...</p>
              }
                @if(User.Identity.Name != null){
                @if(User.Identity.Name == @item.Author){
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                }
                }
              <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Read More →</a>
            </div>
            <div class="card-footer text-muted">
              Posted on  @Html.DisplayFor(modelItem => item.PublishedDate) by
              <a href="#">@Html.DisplayFor(modelItem => item.Author)</a>
            </div>
          </div>
          </div>
}
</div>